body{
    background-color:black
}
#oi{
    color: rgb(140, 19, 221);
}
#ei{
    color: aliceblue;
}
#i{
    color: aliceblue;
}
#elo{
    background-color: aliceblue;
}
#bn{
    color: aliceblue;
}
#tr{
    background-color:aliceblue;
}
#p{
    color: blueviolet;
}
#3{
    color: aliceblue;
}
#r{
    color: antiquewhite;
}
#ll{
    background-color: aliceblue;
}
#tt{
    color: antiquewhite;
}
#mm{
    color: blueviolet;
}



